{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Password Reset </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <h2>Your password is now changed.</h2>
        <form method="get" action="{% url 'account_login' %}">
        <div  class="input-box button">
            <input type="submit" value="Login">
        </div>
        </form>
    </div>

</body>

</html>