{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Password Reset </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <h4>We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not
        receive it in a few minutes.</h4>
        <form action="">
            <div class="text">
                <h3>Want to <a href="{% url 'account_login' %}">Login?</a></h3>
            </div>
            <div class="text">
                <h3>Want to Join us? <a href="{% url 'account_signup' %}">Register now</a></h3>
            </div>

        </form>
    </div>

</body>

</html>