{% load static %}
<header class="sticky-top">
  <div class="link-secondary">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'core:home' %}">
        <img src="{% static 'dot/logo-color-removebg-prevdddddiew.png' %} " width="80" height="40" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:Cart' %}" > Cart (<span id="counter">{{cart_counter}}</span>)  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Courses </a>
          </li>
          
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href=""> Welcome 
              {% if  user.full_name %} {{ user.full_name }} {% else %} Student {% endif %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}"> Logout </a>
             
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
            </li>

          {% endif %}
            
        </ul>
      </div>
    </nav>
  </div>
</header>


