<div class="container py-5">

  <div class="row g-4" id="all-courses">
    {% for course in courses %}
    <div class="col-md-6 col-lg-4">
      <div class="card border-0 shadow-sm h-100 course-card">
        <div class="position-relative">
          <img src="{{ course.thumbnail.url }}" class="card-img-top rounded-top" alt="Course Image" height="200">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title fw-bold">{{ course.name }}</h5>
          <p class="card-text text-muted">
            {{ course.description|slice:":100" }}{% if course.description|length > 100 %}...{% endif %}
          </p>

          <div class="mt-auto">
            <a href="{% url 'core:about_course' course.slug %}" class="btn btn-outline-primary w-100">Open</a>

            {% if course.id in in_cart %}
            <a href="{% url 'core:Cart' %}" class="btn btn-success w-100 mt-2">Checkout</a>
            {% elif course.is_owned %}
            <span class="badge bg-success w-100 mt-2">Purchased</span>
            {% else %}
            <button onclick="increment_cart()" id="course-add-to-cart-{{course.id}}" class="btn btn-primary w-100 mt-2"
              hx-post="{% url 'core:AddToCart' course.id %}" hx-swap="outerHTML"
              hx-target="#course-add-to-cart-{{course.id}}">
              Add to Cart
            </button>

            <button class="btn btn-outline-dark w-100 mt-2">
              {% if course.price %} ${{ course.final_price }} {% else %} Free {% endif %}
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<style>
  .course-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
  }

  .course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
</style>

<script>
  function increment_cart() {
    var counter = document.getElementById('counter');
    counter.innerHTML = parseInt(counter.innerHTML) + 1;
  }
</script>