<div class="row">

  {% for course in courses %}


  <div class="col-md-4">
    <div class="card mb-4" style="width: 18rem;">
      <img src="{{ course.thumbnail.url }}" class="card-img-top" alt="Course Image" width="300" height="150">
      <div class="card-body">
        <h5 class="card-title">{{ course.name }}</h5>
        <p class="card-text">
          {{ course.description }}
        </p>
        <div id="card-{{ course.id }}">
          <a href="{% url 'core:about_course' course.slug %}" class="btn btn-primary mb-1 mt-1"> Open</a> 
          {% if course.id in in_cart %}
          
          <button href="{% url 'core:Checkout' %}" class="btn btn-primary mb-1 mt-1"> Added To Cart.. Checkout </button>
          {% elif course.is_owned %}
              
          {% else %}
          <button onclick="increment_cart()" class="btn btn-primary mb-1 mt-1" hx-post="{% url 'core:AddToCart' course.id %}" hx-swap="outerHTML"
            hx-target="#card-{{ course.id }}">
            Add to Cart
          </button>
          {% if course.price %}
          <button class="btn btn-primary mb-1 mt-1"> {{course.price }} </button>
          {% else %}
          <button class="btn btn-primary mb-1 mt-1"> Free </button>

          {% endif %}
          {% endif %}


          <script>
            function increment_cart() {
                var current = document.getElementById('counter').innerHTML;
                var currentInt = parseInt(current); 
                var incrementedValue = currentInt + 1;
                document.getElementById('counter').innerHTML = incrementedValue;
            }
        </script>
        


        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>