<!-- Hidden Data for Correction -->
{% for key, value in Data.items %}
<div class="Data" real_answer="{{ value.right_answer }}" chosen_answer="{{ value.chosen_answer }}"></div>
{% endfor %}

{% if passed %}
<div class="passed"></div>
{% else %}
<div class="not-passed"></div>
{% endif %}

<script>


    // Highlight correct and incorrect answers after submission
    const data = document.getElementsByClassName("Data");
    for (let i = 0; i < data.length; i++) {
        const real_answer = data[i].getAttribute("real_answer");
        const chosen_answer = data[i].getAttribute("chosen_answer");
        const chosenElement = document.getElementById(`form-check-${chosen_answer}`);
        const realElement = document.getElementById(`form-check-${real_answer}`);
        console.log(chosenElement, realElement);
        if (chosenElement == realElement){
            if (realElement) {
                realElement.classList.add("correct-answer");
            }
        }
        else {
            if (realElement) {
                realElement.classList.add("correct-answer");
            }
            if (chosenElement) {
                chosenElement.classList.add("incorrect-answer");
            }
        }
    }

    // Remove hidden data elements
    const dataDivs = document.querySelectorAll(".Data");
    dataDivs.forEach(element => element.remove());

    // Update button based on pass/fail status
    const passed = document.getElementsByClassName("passed").length;
    const btn = document.querySelector(".btn-submit");

    if (passed) {
        btn.outerHTML = '<a class="btn btn-primary btn-submit mt-4" href="{{ next_obj }}">Next Video</a>';
    } else {
        btn.innerHTML = "Retry";
        btn.addEventListener("click", () => location.reload());
    }
</script>