{% load static %}<!doctype html>
<html lang="en">
  <head>
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'webfonts/Roboto-Black.ttf'%}" rel="stylesheet">
    <link href="{% static 'webfonts/Roboto-Light.ttf'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Sign-up</title>
  </head>
  <body>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{% static 'images/undraw_remotely_2j6y.svg'%}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign Up</h3>
              <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing. already have an account? <a href="{%url 'base:login'%}">Login</a></p>
            </div>
            {{form.errors}}
            <form  method="post">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6 mb-4">
                  <label for="fname">First Name</label>
                  {{form.fName}}

                </div>
                
                <div class="form-group col-md-6 mb-4">
                  <label for="lname">Last Name</label>
                  {{form.lName}}

                </div>
              </div>
              <div class="form-group mb-4">
                <label for="email">Email</label>
                {{form.email}}
              </div>
              
              <div class="form-group mb-4">
                <label for="email">Phone Number</label>
                {{form.phone_number}}
              </div>
              <div class="form-group mb-4">
                <label for="password">Password</label>
                {{form.password}}

              </div>
              <div class="form-group mb-4">
                <label for="password">Confirm Password</label>
                {{form.confirm_password}}

              </div>
            
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0">
                  <span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked" />
                  <div class="control__indicator"></div>
                </label>
              </div>
            
              <input type="submit" value="Sign Up" class="btn btn-block btn-primary">
            
              <span class="d-block text-left my-4 text-muted">&mdash; or sign up with &mdash;</span>
            
              <div class="social-login">
                <a href="#" class="google">
                  <span class="icon-google mr-3"></span>
                </a>
              </div>
            </form>
            
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</body>
</html>