{% extends 'core/main.html' %}
{% block title %}
{{ course.name }}
{% endblock title %}
{% block content %}
<style>

</style>
<div class="container-fluid">
  <div class="row">
    <!-- Right section - 75% width -->
    <div class="col-md-9 bg-light text-dark">
      <video class="video" src="{{ video.video.url }}" width="100%" controls controlsList="nodownload"></video>
    </div>
    <!-- Left section - 25% width -->
    <div class="col-md-3">


      <ul class="list-group">

        {% for video_obj in course_content %}
        <a href="{% url 'core:ViewCourse' course_slug=course.slug video_no=video_obj.counter %}" class="list-group-item list-group-item-action 
                  {% if video.counter == video_obj.counter %}
                  active 
                  {% endif %}" aria-current="true">
          {{ video_obj.name}}
        </a>

        {% if video_obj.question_set.all %}
        <a href="{% url 'core:TestCourse' course_slug=course.slug video_id=video_obj.id %}"
          class="list-group-item list-group-item-action">
          (Exam) {{ forloop.counter }}
        </a>
        {% endif %}
        {% endfor %}


        {% if got_certificate %}
        <a class="list-group-item list-group-item-action"
          href="{% url 'core:view-certificate' key=got_certificate.key %}" style="background-color: burlywood;">
          View Certificate</a>


        {% elif is_eligible_to_get_certificate %}
        <form method="post" action="{% url 'core:cerate-certificate' course_slug=course.slug %}">
          {% csrf_token %}
          <button class="list-group-item list-group-item-action" type="submit" style="background-color: burlywood;">
            Get Certificate
          </button>
        </form>
        {% endif %}

      </ul>
    </div>
  </div>
</div>
{% endblock %}